<a href="https://colab.research.google.com/github/panusha504/coding/blob/master/coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Abundant Number(n)28 remainders 1,2,3,4,7,8,12 add all elemtents result will be n2=35     
n>n2

In [26]:
n = int(input())
s = 0

for i in range(1, n):
    if n % i == 0:
        s = s + i

if n >= s:
    print("Abundant number")
else:
    print("Not abundant number")

28
Abundant number

Automorphic Number:  
n=5 , n1(sqr)=25 ,,n(5)==last digit(n2)

In [5]:
n=int(input())
temp=n
n2=n*n
p=len(str(n))
n3=str(n2)
n4=n3[p:]
if int(n4)==temp:
  print("Automorphic number")
else:
  print("Not automorpic number")

5
Automorphic number

trinagle number:1,2,3,4,5,6,7,8,9,10    
1,1+2=3,3+3=6,6+4=10,10+5=15,15+6=21,21+7=28,........

In [ ]:
n=int(input())
k=[1,3]
c=3
for i in range(3,n+1):
  v=c+i
  k.append(v)
  c==v
if n in k:
  print("Triangle number")
else:
  print("Not triangle number")

10
Triangle number

Sociable number n :4,4,4,4   
4 remainders 1,2,=1+2=3 is==n 1st digit
 2 nd 4 remainders 1,2 =1+2=3 is ==n 3rd digit   
 3 rd 4 remainders 1,2 =1+2 is ==n 4th digit

In [ ]:
n1=int(input())
n2=int(input())
n3=int(input())
n4=int(input())
s=0
s1=0
s3=0
s4=0
for i in range(1,n1):
  if n1%i==0:
    s=s+i
for i in range(1,n2):
  if n2%i==0:
    s1=s1+1
for i in range(1,n3):
  if n3%i==0:
    s3=s3+1
for i in range(1,n4):
  if n4%i==0:
    s4=s4+1
if n1%s and n2%s1 and n3%s3 and n4%s4:
  print("Sociable number")
else:
  print("Not sociable number")

4
4
4
4
Not sociable number

two sum
n==target

In [ ]:
n=[2,7,30,30]
target=9
for i in range(len(n)):
  for j in range(i+1,len(n)):
    if n[i]+n[j]==target:
      print(i,j)
      break

0 1

Harshad number:21
spilt 2,1
2+1=3
21%3=0

In [ ]:
n = 21
s = n
sum = 0
while n != 0:
    rem = n % 10
    sum += rem
    n = n // 10

if s % sum== 0:
    print("Harshad number")
else:
    print("Not Harshad number")

Harshad number

Friendly pair number:n(6,18)  
6 divisibles:1,2,3 sum1+2+3=6//n==0   
18 divisibles:1,2,4,7,11 sum1+2+4+7+11=28//n==0

In [ ]:
n = int(input("Enter a number: "))
n1 = int(input("Enter another number: "))
l1 = []
l2 = []

for i in range(1, n):
    if n % i == 0:
        l1.append(i)

for j in range(1, n1):
    if n1 % j == 0:
        l2.append(j)

if sum(l1) == n1 and sum(l2) == n:
    print("Friendly pair numbers")
else:
    print("Not a friendly pair of numbers")

fibbonaci series:start from o,1 and after that add two number 0+1=1,1+1=2,2+1=3,2+2=5...

In [ ]:
n=int(input())
n1=0
n2=1
c=0
print(n1,n2,end=" ")
for i in range(2,n+1):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n2,end=" ")

7
0 1 1 2 3 5 8 13

In [ ]:
lst = []
n = int(input("Enter number of elements : "))

for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)

print(lst)

Enter number of elements : 3
ANUSHA
1
SHARONI
2
SHIREESHA
3
[['ANUSHA', 1], ['SHARONI', 2], ['SHIREESHA', 3]]

square numbers upto n

In [ ]:
n=int(input())
for i in range(n+1):
  print(i**2)

6
0
1
4
9
16
25
36

RVERSE NUMBER IN A STRING

In [ ]:
s="welcome to india".split()
n=" "
for i in s[::-1]:
  n+=i+" "
st=n[:-1]
print(st)

 india to welcome

In [ ]:
n=802400
n1=str(n)
n1=n1[::-1]
print(n1)
count=0
for i in n1:
  if i=='0':
    count+=1
  else:
    break
print(count)

004208
2

LCM/HCF