<a href="https://colab.research.google.com/github/panusha504/coding/blob/master/coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
lst = []
n = int(input("Enter number of elements : "))

for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)

print(lst)

Enter number of elements : 3
ANUSHA
1
SHARONI
2
SHIREESHA
3
[['ANUSHA', 1], ['SHARONI', 2], ['SHIREESHA', 3]]

square numbers upto n

In [7]:
n=int(input())
for i in range(n+1):
  print(i**2)

6
0
1
4
9
16
25
36

RVERSE NUMBER IN A STRING

In [13]:
s="welcome to india".split()
n=" "
for i in s[::-1]:
  n+=i+" "
st=n[:-1]
print(st)

 india to welcome