<a href="https://colab.research.google.com/github/panusha504/coding/blob/master/coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sum of natural number :1,2,3,4,5,6,7,8,9,10
  1+2+3+4+5+6+7+8+9+10=55

In [5]:
l = []
sum = 0
for i in range(1, 11):
    l.append(i)
    sum = sum + i
if i == sum:
  print("Natural number")
else:
  print("Not a natural num ber")

Not a natural number

In [7]:
n=int(input("Enter a number"))
sum=0
for i in range(1+n):
  sum=sum+i
  print(sum)

Enter a number8
0
1
3
6
10
15
21
28
36

Marriage number:

Strong number:   
n=145  
1!+4!+5!   
1+24+120=125

In [10]:
n = int(input())
original_n = n
strong_sum = 0

while n:
    i = 1
    rem = n % 10
    fact = 1

    while i <= rem:
        fact *= i
        i += 1

    strong_sum += fact
    n = n // 10

if strong_sum == original_n:
    print("Strong number")
else:
    print("Not a strong number")

145
Strong number

Palindrome number:151,dad,nom,101

In [12]:
n=input()
print(n[::-1])
if(n[::]==n[::-1]):
    print("Pallindrome")
else:
   print("Not pallindrome")

151
151
Pallindrome

wap find out the month

In [15]:
m=int(input("enter month"))
if m==2:
  print("28days")
elif m in[1,3,5,7,8,10,12]:
  print("31 days")
else:
   print("30 days")

enter month7
31 days

Hailstone series

In [1]:
no = int(input("Enter a number:"))

while no != 1:
    print(no)
    if no % 2 == 0:
        no = no // 2
    else:
        no = no * 3 + 1

print(no)  # Print the final value of 'no' after the loop

Enter a number:10
10
5
16
8
4
2
1

perfect number:  
n=28  
1 to 28   
28 remainders 1,2,4,7,14   
sum of all divisors (n1) 1+2+4+7+14=28     
n==n1

In [ ]:
n = int(input())
s = 0
for i in range(1, n):
    if n % i == 0:
        s = s + i
if s == n:
    print("Perfect number")
else:
    print("Not a perfect number")

28
Perfect number

Strong number:

Amicable Numbers:220,284   
220 divisors 1,2,4,5,10,11,22,44,55,110  
sum of divisors 1+2+4+5+10+11+22+44+55+110=284  
284 divisors 1,2,4,71,142   
sum of divisors 1+2+4+71+142=220    
sum of all amicable numbers fron 1 to 999
220+284=504

In [ ]:
n1=int(input())
n2=int(input())
s1=0
s2=0
for i in range(1,n1):
  if n%i==0:
    s1=s1+i
for j in range(1,n2):
  if n%j==0:
    s2=s2+i
if n1%s1 and n2%s2:
  print("Amicable number:")
else:
  print("Not amicable number")

220
284
Amicable number:

Abundant Number(n)28 remainders 1,2,3,4,7,8,12 add all elemtents result will be n2=35     
n>n2

In [ ]:
n = int(input())
s = 0

for i in range(1, n):
    if n % i == 0:
        s = s + i

if n >= s:
    print("Abundant number")
else:
    print("Not abundant number")

28
Abundant number

Automorphic Number:  
n=5 , n1(sqr)=25 ,,n(5)==last digit(n2)

In [ ]:
n=int(input())
temp=n
n2=n*n
p=len(str(n))
n3=str(n2)
n4=n3[p:]
if int(n4)==temp:
  print("Automorphic number")
else:
  print("Not automorpic number")

5
Automorphic number

trinagle number:1,2,3,4,5,6,7,8,9,10    
1,1+2=3,3+3=6,6+4=10,10+5=15,15+6=21,21+7=28,........

In [ ]:
n=int(input())
k=[1,3]
c=3
for i in range(3,n+1):
  v=c+i
  k.append(v)
  c==v
if n in k:
  print("Triangle number")
else:
  print("Not triangle number")

10
Triangle number

Sociable number n :4,4,4,4   
4 remainders 1,2,=1+2=3 is==n 1st digit
 2 nd 4 remainders 1,2 =1+2=3 is ==n 3rd digit   
 3 rd 4 remainders 1,2 =1+2 is ==n 4th digit

In [ ]:
n1=int(input())
n2=int(input())
n3=int(input())
n4=int(input())
s=0
s1=0
s3=0
s4=0
for i in range(1,n1):
  if n1%i==0:
    s=s+i
for i in range(1,n2):
  if n2%i==0:
    s1=s1+1
for i in range(1,n3):
  if n3%i==0:
    s3=s3+1
for i in range(1,n4):
  if n4%i==0:
    s4=s4+1
if n1%s and n2%s1 and n3%s3 and n4%s4:
  print("Sociable number")
else:
  print("Not sociable number")

4
4
4
4
Not sociable number

two sum
n==target

In [ ]:
n=[2,7,30,30]
target=9
for i in range(len(n)):
  for j in range(i+1,len(n)):
    if n[i]+n[j]==target:
      print(i,j)
      break

0 1

Harshad number:21
spilt 2,1
2+1=3
21%3=0

In [ ]:
n = 21
s = n
sum = 0
while n != 0:
    rem = n % 10
    sum += rem
    n = n // 10

if s % sum== 0:
    print("Harshad number")
else:
    print("Not Harshad number")

Harshad number

Friendly pair number:n(6,18)  
6 divisibles:1,2,3 sum1+2+3=6//n==0   
18 divisibles:1,2,4,7,11 sum1+2+4+7+11=28//n==0

In [ ]:
n = int(input("Enter a number: "))
n1 = int(input("Enter another number: "))
l1 = []
l2 = []

for i in range(1, n):
    if n % i == 0:
        l1.append(i)

for j in range(1, n1):
    if n1 % j == 0:
        l2.append(j)

if sum(l1) == n1 and sum(l2) == n:
    print("Friendly pair numbers")
else:
    print("Not a friendly pair of numbers")

fibbonaci series:start from o,1 and after that add two number 0+1=1,1+1=2,2+1=3,2+2=5...

In [ ]:
n=int(input())
n1=0
n2=1
c=0
print(n1,n2,end=" ")
for i in range(2,n+1):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n2,end=" ")

7
0 1 1 2 3 5 8 13

Amstrong number:   
n=153   
len(n)=3    
n1=1cube+5cube+3cube=153   
n==n1

In [3]:
n = int(input())
s = 0
temp = n

while temp > 0:
    digit = temp % 10
    s += digit ** 3
    temp //= 10

if s == n:
    print("Armstrong number")
else:
    print("Not an Armstrong number")

153
Armstrong number

n=lonely number:[1,2,2,3,3,4,4]   
o/p:1

In [8]:
n = int(input("Enter a number:"))
numbers = list(range(1, n+1))

for num in numbers:
    if num <= 2:
        print(f"{num} is a Lonely number")
    else:
        print(f"{num} is Not a lonely number")

Enter a number:1,2,2

ValueError: ignored

Prime numer:

In [ ]:
lst = []
n = int(input("Enter number of elements : "))

for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)

print(lst)

Enter number of elements : 3
ANUSHA
1
SHARONI
2
SHIREESHA
3
[['ANUSHA', 1], ['SHARONI', 2], ['SHIREESHA', 3]]

square numbers upto n

In [ ]:
n=int(input())
for i in range(n+1):
  print(i**2)

6
0
1
4
9
16
25
36

RVERSE NUMBER IN A STRING

In [ ]:
s="welcome to india".split()
n=" "
for i in s[::-1]:
  n+=i+" "
st=n[:-1]
print(st)

 india to welcome

In [ ]:
n=802400
n1=str(n)
n1=n1[::-1]
print(n1)
count=0
for i in n1:
  if i=='0':
    count+=1
  else:
    break
print(count)

004208
2

LCM/HCF