<a href="https://colab.research.google.com/github/panusha504/coding/blob/master/coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

two sum
n==target

In [17]:
n=[2,7,30,30]
target=9
for i in range(len(n)):
  for j in range(i+1,len(n)):
    if n[i]+n[j]==target:
      print(i,j)
      break

0 1

Harshad number:21
spilt 2,1
2+1=3
21%3=0

In [ ]:
n = 21
s = n
sum = 0
while n != 0:
    rem = n % 10
    sum += rem
    n = n // 10

if s % sum== 0:
    print("Harshad number")
else:
    print("Not Harshad number")

Harshad number

Friendly pair number:n(6,18)  
6 divisibles:1,2,3 sum1+2+3=6//n==0   
18 divisibles:1,2,4,7,11 sum1+2+4+7+11=28//n==0

In [ ]:
n = int(input("Enter a number: "))
n1 = int(input("Enter another number: "))
l1 = []
l2 = []

for i in range(1, n):
    if n % i == 0:
        l1.append(i)

for j in range(1, n1):
    if n1 % j == 0:
        l2.append(j)

if sum(l1) == n1 and sum(l2) == n:
    print("Friendly pair numbers")
else:
    print("Not a friendly pair of numbers")

fibbonaci series:start from o,1 and after that add two number 0+1=1,1+1=2,2+1=3,2+2=5...

In [ ]:
n=int(input())
n1=0
n2=1
c=0
print(n1,n2,end=" ")
for i in range(2,n+1):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n2,end=" ")

7
0 1 1 2 3 5 8 13

In [ ]:
lst = []
n = int(input("Enter number of elements : "))

for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)

print(lst)

Enter number of elements : 3
ANUSHA
1
SHARONI
2
SHIREESHA
3
[['ANUSHA', 1], ['SHARONI', 2], ['SHIREESHA', 3]]

square numbers upto n

In [ ]:
n=int(input())
for i in range(n+1):
  print(i**2)

6
0
1
4
9
16
25
36

RVERSE NUMBER IN A STRING

In [ ]:
s="welcome to india".split()
n=" "
for i in s[::-1]:
  n+=i+" "
st=n[:-1]
print(st)

 india to welcome

In [ ]:
n=802400
n1=str(n)
n1=n1[::-1]
print(n1)
count=0
for i in n1:
  if i=='0':
    count+=1
  else:
    break
print(count)

004208
2

LCM/HCF