<a href="https://colab.research.google.com/github/panusha504/coding/blob/master/coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1903. Largest Odd Number in String

In [33]:
num = "52"
n=list(num)
print(n)
l1=[]
l2=[]
for i in n:
  if n%2==0:
    l1.append(n)
  else:
    l2.append(n)
print(l1)
print(l2)

['5', '2']

TypeError: ignored

In [40]:
num = "52"
n = list(num)
l1 = ""
l2 = ""

for i in n:
    if int(i) % 2 == 0:
        l1+=str(i)
    else:
        l2+=str(i)

print(l1)
print(l2)

2
5

In [45]:
num = "4206"
n = list(num)
l1 = ""
l2 = ""

for i in n:
    if int(i) % 2 == 0:
        l1+=str(i)
    else:
        l2+=str(i)

print(l1)
print(l2)

4206

In [49]:
num="35427"
l1 = ""
l2 = ""

for i in num:
    if int(i) % 2 == 0:
        l1+=str(i)
    else:
        l2+=str(i)

print(l1)
print(l2)

42
357

In [51]:
num="35427"
l1 = ""
l2=""
if int(num) % 2 == 0:
  l1+=str(i)
else:
  l2+=str(i)

print(l1)
print(l2)

7

In [25]:
s="abcde"
goal="cdeab"
if s==goal:
  print(True)
else:
    print(False)

False

In [26]:
s="abcde"
goal="cdeab"
if len(s)==len(Goal):
  print(True)
else:
  print(False)

True

In [ ]:
s="abcde"
goal="cdeab"

In [18]:
s="abcde"
Goal="cdeab"
if s in Goal:
  print(True)
else:
  print(False)

False

In [19]:
s = "abcde"
Goal = "abced"
if s in Goal:
  print(True)
else:
  print(False)

False

OOPS CONCEPTS

In [ ]:
s = "anusssssssha"
s1 = list(s)

def pop():
    n=""
    for i in range(len(s1)):
        pe = s1.pop()
        n += pe
    print(n)

pop()

ahsssssssuna

In [ ]:
stack = []

def push():
    element = int(input("Enter the element: "))
    stack.append(element)
    print(stack)

def pop_element():
    if not stack:
        print("Stack is empty")
    else:
        e = stack.pop()
        print("Stack element is removed:", e)
        print(stack)

while True:
    print("Select the operation 1.push 2.pop 3.exit")
    choice = int(input())
    if choice == 1:
        push()
    elif choice == 2:
        pop_element()
    elif choice == 3:
        break
    else:
        print("Enter a valid option")

Select the operation 1.push 2.pop 3.exit
1
Enter the element: 2
[2]
Select the operation 1.push 2.pop 3.exit
1
Enter the element: 3
[2, 3]
Select the operation 1.push 2.pop 3.exit
1
Enter the element: 4
[2, 3, 4]
Select the operation 1.push 2.pop 3.exit
2
Stack element is removed: 4
[2, 3]
Select the operation 1.push 2.pop 3.exit
2
Stack element is removed: 3
[2]
Select the operation 1.push 2.pop 3.exit
2
Stack element is removed: 2
[]
Select the operation 1.push 2.pop 3.exit
3

In [ ]:
name = input("Enter the Name:")
count = 0

for char in name:
    count += ord(char) - 64

print(count)

Enter the Name:Anusha
224

In [ ]:
s="Good Morning"
count=[]
for i in s:
  if i in "Good Morning":
    count+=i
print(count)

['G', 'o', 'o', 'd', ' ', 'M', 'o', 'r', 'n', 'i', 'n', 'g']

In [ ]:
n="Anusha"
s=""
for i in range(len(n)):
  if i%2==0:
    s+=n[i].upper()
  else:
    s+=n[i].lower()
print(s)

AnUsHa

In [ ]:

print(ord('2'))
print(ord('g'))
print(ord('&'))

50
103
38

In [ ]:
n = "Anusha"
c = ""
for i in range(len(n)):
    if i % 2 == 0:
        c += str(ord(n[i]))
    else:
        c += n[i]
print(c)

65n117s104a

In [ ]:
s="Good_morning"
l=set(sorted(s))
l1=l.remove('_')
for i in l:
  print(i,s.count(i))

r 1
g 1
o 3
i 1
G 1
m 1
n 2
d 1

In [ ]:
s="Good_Night"
l=set(s)
for i in l:
  print(i,s.count(i))

_ 1
h 1
G 1
t 1
o 2
d 1
g 1
N 1
i 1

In [ ]:
n=[4,2,3,7,1,9]
c=1
for i in range(len(n)):
    if n[i]>n[0]:
        c+=1
print(c)

3

In [ ]:
s="ANUSHA504"
l=""
l1=""
for i in s:
  if i.isalpha():
    l+=(str(i))
for i in s:
  if i in "AEIOU":
    l1+=(str(i))
print(l)
print(l1)

ANUSHA
AUA

Find Closest Number to Zero

In [ ]:
nums = [-4,-2,1,4,8]
l=[]
for i in nums:
  if i==1:
    l.append(i)
print(*l)

1

In [ ]:
nums = [2,-1,1]
l=[]
for i in nums:
  if i==1:
    l.append(i)
print(l)

[1]

. Second Largest Digit in a String

In [ ]:
s = "dfa12321afd"
l = []
for i in s:
  if i.isnumeric():
    l.append(int(i))
    l = list(set(l))
    l.sort()
if len(l) >= 2:
  print(l[1])
else:
  print(-1)

2

In [ ]:
s="Anusha504"
l=[]
for i in s:
  if i.isnumeric():
    l.append(int(i))
print(l)

[5, 0, 4]

In [ ]:
s = "dfa12321afd"
k = []
t = []

for char in s:
    if char in "dfa":
        k.append(char)
    if char in "123":
        t.append(char)

print(k.clear())
print(t)

None
['1', '2', '3', '2', '1']

In [ ]:
s = "dfa12321afd"
n1=set(s)
k = []
for char in n1:
    if char in "123":
       s=k.append(char)
       y=sorted(k)
print(max(y))

3

In [ ]:
s = "dfa12321afd"
l=[]
l2=[]
for i in s:
  if i.isnumeric():
    l.append(int(i))
    l1=set(l)
for i in l1:
  l2.append(i)
print(l2[-2])

2

In [ ]:
s = "dfa12321afd"
n1=set(s)
print(list(n1))

['3', 'd', '1', '2', 'a', 'f']

In [ ]:
s = "dfa12321afd"
n1=set(s)
k = []
t = []
for chars in n1:
  if chars.isalpha():
    k.append(char)
  if chars.isnumeric():
    t.append(chars)
print(k)
print(t)

['d', 'd', 'd']
['3', '1', '2']

In [ ]:
s = "dfa12321afd"
n1=set(s)
print(n1)

{'3', 'd', '1', '2', 'a', 'f'}

In [ ]:
for i in range(1,27):
    p=i+64
    print(chr(p),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [ ]:
chars = ["a","a","b","b","c","c","c"]
n1=chars.count("a")
n2=chars.count("b")
n3=chars.count("c")
print("a",n1,"b",n2,"c",n3)

a 2 b 2 c 3

In [ ]:
n=['A', 'N', 'U', 'S', 'H', 'A']
s=" "
for i in n:
  s+=i
print(s)

 ANUSHA

In [ ]:
n=['A','N','U','S','H','A']
n1="".join(n)
print(n1)

ANUSHA

In [ ]:
n="ANUSHA"
s=[]
for i in n:
  s+=i
print(s)

['A', 'N', 'U', 'S', 'H', 'A']

In [ ]:
n="Anusha"
n1=list(n)
print(n1)

['A', 'n', 'u', 's', 'h', 'a']

Valid Anagram

In [ ]:
s ="anagram"
t ="nagaram"
p=sorted(list(s))
p1=sorted(list(t))
if p==p1:
  print("Valid Anagram")
else:
  print("Not Valid Anagram")

Valid Anagram

In [ ]:
k=input()
s="Good Morning"
n1=s.upper()
if k in n1:
  print(n1.count(k))
else:
  print(0)

o
0

In [ ]:
k=input()
s="Good Morning"
if k in s:
  print(s.count(k))
else:
  print(0)

G
1

In [ ]:
S="Good Morning"
count=""
for i in range(len(s)):
  if i "Good Morning":
    count+=i
print(count)

SyntaxError: ignored

1550. Three Consecutive Odds

In [ ]:
arr = [1,2,34,3,4,5,7,23,12]
for i in arr:
  if i%2==1:
    print("True")

True
True
True
True
True

ADD TWO STRINGS

In [ ]:
nums1="11"
nums2="123"
s=int(nums2)
s1=int(nums1)
s3=s+s1
n=str(s3)
print(n)

134

Missing number

In [ ]:
n=[1,3,0]
k=0
for i in range(len(n)+1):
  if i not in n:
    k+=i
    print(k)

In [ ]:
n=[3,0,1]
s=0
n1=sorted(n)
for i in range(len(n)+1):
  if i not in n:
    s+=i
print(s)

2

In [ ]:
nums=[9,6,4,2,3,5,7,0,1]
s=0
for i in range(len(nums)+1):
  if i not in nums:
    s+=i
    print(s)

8

In [ ]:
class Solution:
    def isPowerOfTwo(self, n: int) -> bool:
        if n <= 0:
            return False
        while n > 1:
            if n % 2 != 0:
                return False
            n = n // 2
        return True

In [ ]:
def is_power_of_two(n):
    # Check if the number is positive
    if n <= 0:
        return False

    # Keep dividing the number by 2 until it becomes 1
    while n > 1:
        # If n is not divisible by 2 (i.e., it's not an even number),
        # it can't be a power of two
        if n % 2 != 0:
            return False
        n = n // 2  # Integer division by 2

    # If n becomes 1, it's a power of two
    return True

# Test cases
print(is_power_of_two(1))   # True, 2^0 = 1
print(is_power_of_two(2))   # True, 2^1 = 2
print(is_power_of_two(16))  # True, 2^4 = 16
print(is_power_of_two(3))   # False
print(is_power_of_two(0))   # False
print(is_power_of_two(-8))  # False

True
True
True
False
False
False

power of two

In [ ]:
n=[16,6,8]
for i in n:
  if i%2==0:
    print(i)

16
6
8

In [ ]:
 s = "1 box has 3 blue 4 red 6 green and 12 yellow marbles"
 s=len(s)
 if s<53:
  print("True")
 else:
  print("False")

True

 Finding 3-Digit Even Numbers

In [ ]:
n=[2,1,3,0]
v=[]
for i in n:
  print(i)

2
1
3
0

In [ ]:
n=[2,2,1]
c=0
for i in n:
  v=n.count(i)
  if v<2:
    print(i,"is a lonely number")

1 is a lonely number

FOR LOOP

In [ ]:
n=[12,3,54,45,5]
for i in range(1,len(n),2):
  print(i)

1
3

In [ ]:
n=[1,2,3,4,43]
for i in range(1,len(n)):
  print(i)

1
2
3
4

In [ ]:
n=[1,23,434,55]
for i in range(len(n)):
  print(i)

0
1
2
3

In [ ]:
n=[1,233,34,5]
for i in n:
  print(i)

1
233
34
5

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

REMOVE DUPLICATES FROM SORTED ARRAY

In [ ]:
n=[1,1,2]
n1=set(n)
n2=list(n1)
print(n2)

[1, 2]

In [ ]:
n=[1,1,2]
n1=set(n)
n2=list(n1)
n3=len(n2)
print(n3)

2

ADD ONE

In [ ]:
n=[1,2,3]
n1=n[-1]
n2=n1+1
n.remove(n1)
n.append(n2)
print(n)

[1, 2, 4]

In [ ]:
n=int(input("Enter a number:"))
if n>0:
  print("Positive number")
else:
  print("negative number")

Enter a number:8
Positive number

Sum of natural number :1,2,3,4,5,6,7,8,9,10
  1+2+3+4+5+6+7+8+9+10=55

In [ ]:
l = []
sum = 0
for i in range(1, 11):
    l.append(i)
    sum = sum + i
if i == sum:
  print("Natural number")
else:
  print("Not a natural num ber")

Not a natural number

In [ ]:
n=int(input("Enter a number:"))
sum=1
for i in range(1+n):
  sum=sum+i
  print(sum)

Enter a number:5
1
2
4
7
11
16

In [ ]:
n=int(input())
s=0
for i in range(1,n+1):
  s=s+i
print(s)

5
15

3 rd maximum number:

In [ ]:
num = [5, 6, 7, 10]

if len(num) <= 2:
    k = len(num)
    p1 = max(num)
    num.remove(p1)
    p2 = max(num)
    num.remove(p2)
    print(max(num))
else:
    print("Not a maximum number")

Not a maximum number

Happy number

In [ ]:
n = 19

while n > 5:
    s = 0
    while n != 0:
        r = n % 10
        s = s + r ** 2
        n = n // 10
    n = s

if s == 1:
    print("HAPPY NUMBER")
else:
    print("NOT HAPPY NUMBER")

HAPPY NUMBER

Marriage number:

Strong number:   
n=145  
1!+4!+5!   
1+24+120=145

In [ ]:
n = int(input())
original_n = n
strong_sum = 0

while n:
    i = 1
    rem = n % 10
    fact = 1

    while i <= rem:
        fact *= i
        i += 1

    strong_sum += fact
    n = n // 10

if strong_sum == original_n:
    print("Strong number")
else:
    print("Not a strong number")

145
Strong number

Palindrome number:151,dad,nom,101

In [ ]:
n=input()
print(n[::-1])
if(n[::]==n[::-1]):
    print("Pallindrome")
else:
   print("Not pallindrome")

151
151
Pallindrome

wap find out the month

In [ ]:
m=int(input("enter month"))
if m==2:
  print("28days")
elif m in[1,3,5,7,8,10,12]:
  print("31 days")
else:
   print("30 days")

enter month7
31 days

Hailstone series

In [ ]:
no = int(input("Enter a number:"))

while no != 1:
    print(no)
    if no % 2 == 0:
        no = no // 2
    else:
        no = no * 3 + 1

print(no)  # Print the final value of 'no' after the loop

Enter a number:10
10
5
16
8
4
2
1

perfect number:  
n=28  
1 to 28   
28 remainders 1,2,4,7,14   
sum of all divisors (n1) 1+2+4+7+14=28     
n==n1

In [ ]:
n = int(input())
s = 0
for i in range(1, n):
    if n % i == 0:
        s = s + i
if s == n:
    print("Perfect number")
else:
    print("Not a perfect number")

28
Perfect number

Strong number:

Amicable Numbers:220,284   
220 divisors 1,2,4,5,10,11,22,44,55,110  
sum of divisors 1+2+4+5+10+11+22+44+55+110=284  
284 divisors 1,2,4,71,142   
sum of divisors 1+2+4+71+142=220    
sum of all amicable numbers fron 1 to 999
220+284=504

In [ ]:
n1=int(input())
n2=int(input())
s1=0
s2=0
for i in range(1,n1):
  if n%i==0:
    s1=s1+i
for j in range(1,n2):
  if n%j==0:
    s2=s2+i
if n1%s1 and n2%s2:
  print("Amicable number:")
else:
  print("Not amicable number")

220
284
Amicable number:

Abundant Number(n)28 remainders 1,2,3,4,7,8,12 add all elemtents result will be n2=35     
n>n2

In [ ]:
n = int(input())
s = 0

for i in range(1, n):
    if n % i == 0:
        s = s + i

if n >= s:
    print("Abundant number")
else:
    print("Not abundant number")

28
Abundant number

Automorphic Number:  
n=5 , n1(sqr)=25 ,,n(5)==last digit(n2)

In [ ]:
n=int(input())
temp=n
n2=n*n
p=len(str(n))
n3=str(n2)
n4=n3[p:]
if int(n4)==temp:
  print("Automorphic number")
else:
  print("Not automorpic number")

5
Automorphic number

trinagle number:1,2,3,4,5,6,7,8,9,10    
1,1+2=3,3+3=6,6+4=10,10+5=15,15+6=21,21+7=28,........

In [ ]:
n=int(input())
k=[1,3]
c=3
for i in range(3,n+1):
  v=c+i
  k.append(v)
  c==v
if n in k:
  print("Triangle number")
else:
  print("Not triangle number")

10
Triangle number

Sociable number n :4,4,4,4   
4 remainders 1,2,=1+2=3 is==n 1st digit
 2 nd 4 remainders 1,2 =1+2=3 is ==n 3rd digit   
 3 rd 4 remainders 1,2 =1+2 is ==n 4th digit

In [ ]:
n1=int(input())
n2=int(input())
n3=int(input())
n4=int(input())
s=0
s1=0
s3=0
s4=0
for i in range(1,n1):
  if n1%i==0:
    s=s+i
for i in range(1,n2):
  if n2%i==0:
    s1=s1+1
for i in range(1,n3):
  if n3%i==0:
    s3=s3+1
for i in range(1,n4):
  if n4%i==0:
    s4=s4+1
if n1%s and n2%s1 and n3%s3 and n4%s4:
  print("Sociable number")
else:
  print("Not sociable number")

4
4
4
4
Not sociable number

two sum
n==target

In [ ]:
n=[2,7,30,30]
target=9
for i in range(len(n)):
  for j in range(i+1,len(n)):
    if n[i]+n[j]==target:
      print(i,j)
      break

0 1

In [ ]:
n1="123"
n2="139"
l1=int(n1)
l2=int(n2)
l=l1+l2
print(l)

262

Harshad number:21
spilt 2,1
2+1=3
21%3=0

In [ ]:
n = 21
s = n
sum = 0
while n != 0:
    rem = n % 10
    sum += rem
    n = n // 10

if s % sum== 0:
    print("Harshad number")
else:
    print("Not Harshad number")

Harshad number

Friendly pair number:n(6,18)  
6 divisibles:1,2,3 sum1+2+3=6//n==0   
18 divisibles:1,2,4,7,11 sum1+2+4+7+11=28//n==0

In [ ]:
n = int(input("Enter a number: "))
n1 = int(input("Enter another number: "))
l1 = []
l2 = []

for i in range(1, n):
    if n % i == 0:
        l1.append(i)

for j in range(1, n1):
    if n1 % j == 0:
        l2.append(j)

if sum(l1) == n and sum(l2) == n1:
    print("Friendly pair numbers")
else:
    print("Not a friendly pair of numbers")

Enter a number: 6
Enter another number: 28
Friendly pair numbers

In [ ]:
n = int(input("Enter a number: "))
n1 = int(input("Enter another number: "))
l1 =[]
l2 =[]

for i in range(1, n):
    if n % i == 0:
        l1.append(i)

for j in range(1, n1):
    if n1 % j == 0:
        l2.append(j)
print(l1)
print(l2)

Enter a number: 6
Enter another number: 28
[1, 2, 3]
[1, 2, 4, 7, 14]

In [ ]:
n=[1,2,3,4,5,6]
v=n.count(1)
print(v)

1

In [ ]:
n=[1,2,4,4]
n2=sum(n)
print(n2)

11

In [ ]:
n=[1,345,55,66]
n.append(2)
print(n)

[1, 345, 55, 66, 2]

In [ ]:
n=[1,345,55,66]
n.pop()
print(n)

[1, 345, 55]

fibbonaci series:start from o,1 and after that add two number 0+1=1,1+1=2,2+1=3,2+2=5...

In [ ]:
n=int(input())
n1=0
n2=1
c=0
print(n1,n2,end=" ")
for i in range(2,n+1):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n2,end=" ")

7
0 1 1 2 3 5 8 13

Ramajan Number:   
n1=10
n2=9
10cube+9cube=1729

In [ ]:
for i in range(1,11):
  a=i**3
  for j in range(2,11):
    b=j**3
    if a+b==1729:
      break
print(i)
print(j)
print(a+b)

10
9
1729

Amstrong number:   
n=153   
len(n)=3    
n1=1cube+5cube+3cube=153   
n==n1

In [ ]:
n = int(input())
s = 0
temp = n

while temp > 0:
    digit = temp % 10
    s += digit ** 3
    temp //= 10

if s == n:
    print("Armstrong number")
else:
    print("Not an Armstrong number")

153
Armstrong number

n=lonely number:[1,2,2,3,3,4,4]   
o/p:1

In [ ]:
l = [1,2,2,2,5,5,6,6]
m=[]
n=[]
count=0
for i in l:
  v=l.count(i)
  if v<2:
    m.append(i)
  else:
    n.append(i)
print(n)

[2, 2, 2, 5, 5, 6, 6]

Missing number:

In [ ]:
n=[1,3,0]
k=0
for i in range(len(n)+1):
  if i not in n:
    k+=i
    print(k)

2

Prime numer:

In [ ]:
n=7
c=0
for i in range(2,n+1):
  if n%i==0:
    c+=1
  if c==1:
    print("Prime number")
  else:
    print("Not a prime number")

Not a prime number
Not a prime number
Not a prime number
Not a prime number
Not a prime number
Prime number

In [ ]:
lst = []
n = int(input("Enter number of elements : "))

for i in range(0, n):
    ele = [input(), int(input())]
    lst.append(ele)

print(lst)

Enter number of elements : 3
ANUSHA
1
SHARONI
2
SHIREESHA
3
[['ANUSHA', 1], ['SHARONI', 2], ['SHIREESHA', 3]]

square numbers upto n

In [ ]:
n=int(input())
for i in range(n+1):
  print(i**2)

6
0
1
4
9
16
25
36

RVERSE NUMBER IN A STRING

In [ ]:
s="welcome to india".split()
n=" "
for i in s[::-1]:
  n+=i+" "
st=n[:-1]
print(st)

 india to welcome

In [ ]:
n=802400
n1=str(n)
n1=n1[::-1]
print(n1)
count=0
for i in n1:
  if i=='0':
    count+=1
  else:
    break
print(count)

004208
2

LCM/HCF